<div class="display"> 
    <table>
        <tr><td><label for="field1">Descrição</label></td></tr>
            <tr><td><input type="text" name="field1" class="" /></td>
        </tr>
        <tr>    
            <td><label for="field2">Fornecedor</label></td></tr>
                <tr><td><input type="text" name="field2" class=""  /></td>
        </tr>
        <tr>    
            <td><label for="field3">Unidade</label></td></tr>
                <tr><td><input type="text" name="field3" class=""  /></td>
        </tr>
        <tr>    
            <td><label for="field4">Estoque</label></td></tr>
                <tr><td><input type="text" name="field4" class=""  /></td>
        </tr>
        <tr><td><label for="field5">Tipo</label></td></tr>
        <tr><td>
            <select  name="field5" class=""  >
                    <option value="prod">Produto</option>
                    <option value="conj">Conjunto</option>
                    <option value="serv">Serviço</option>
                </select>
            </td>
        </tr>  
        <tr>    
            <td><label for="field6">Estoque Min.</label></td></tr>
                <tr><td><input type="text" name="field6" class=""  /></td>
        </tr>              
        <tr>    
            <td><label for="field7">Cód. do Produto</label></td></tr>
                <tr><td><input type="text" name="field7" class=""  /></td>
        </tr>
        <tr>    
            <td><label for="field8">Cód. de Barras</label></td></tr>
                <tr><td><input type="text" name="field8" class=""  /></td>
        </tr>              
        <tr>    
            <td><label for="field9">NCM</label></td></tr>
                <tr><td><input type="text" name="field9" class=""  /></td>
        </tr>              
        <tr>    
            <td><label for="field10">Preço de Compra R$</label></td></tr>
                <tr><td><input type="text" name="field10" class=""  /></td>
        </tr>              
        <tr><td><label for="field11">Margem de Lucro %</label></td></tr>
        <tr><td><input type="text" name="field11" class=""  /></td></tr>              
        <tr>   
            <td><button id="btnSave">Salvar</button></td>
        </tr>              

    </table>
</div>