
    <div class="display"> 
        <table>
            <tr><td><label>Descrição</label></td></tr>
            <tr><td><input type="text" id="edtDesc"  /></td></tr>
            <tr><td><label>Fornecedor</label></td></tr>
            <tr><td><select id="cmbEmp"></select></td></tr>
            <tr><td><label>Unidade</label></td></tr>
            <tr><td><input type="text" id="edtUnid" /></td></tr>
            <tr><td><label >Estoque</label></td></tr>
            <tr><td><input type="text" id="edtEtq"/></td></tr>
            <tr><td><label >Tipo</label></td></tr>
            <tr><td>
                <select  id="cmbTipo"   >
                    <option value="VENDA">Produto</option>
                    <option value="CONJ">Conjunto</option>
                    <option value="SERVICO">Serviço</option>
                    <option value="TINTA">Tinta</option>
                </select>
                </td>
            </tr>  
            <tr><td><label>Estoque Min.</label></td></tr>
            <tr><td><input type="text" id="edtEtqMin" class=""  /></td></tr>
            <tr><td><label >Cód. do Produto</label></td></tr>
            <tr><td><input type="text" id="edtCodProd" class=""  /></td></tr>
            <tr><td><label >Cód. de Barras</label></td></tr>
            <tr><td><input type="text" id="edtCodBar" class=""  /></td></tr>
            <tr><td><label >NCM</label></td></tr>
            <tr><td><input type="text" id="edtNCM" onkeyup="return int_number(this)"  /></td></tr>
            <tr><td><label >Preço de Compra R$</label></td></tr>
            <tr><td><input type="text" id="edtCompra" onkeyup="return float_number(this)" /></td></tr>
            <tr><td><label >Margem de Lucro %</label></td></tr>
            <tr><td><input type="text" id="edtMargem" onkeyup="return float_number(this,1)" /></td></tr>
            <tr><td><button id="btnSave">Salvar</button></td></tr>
        </table>
    </div>


<script>

    const btnSave = document.getElementById('btnSave');
    const cmbEmp = document.getElementById('cmbEmp');
    
    fillEmp();

    btnSave.addEventListener('click',()=>{

        const edtDesc = document.getElementById("edtDesc");
        const edtEtq = document.getElementById("edtEtq");
        const edtEtqMin = document.getElementById("edtEtqMin");
        const edtUnid = document.getElementById("edtUnid");
        const cmbTipo = document.getElementById("cmbTipo");
        const edtCodProd = document.getElementById("edtCodProd");
        const edtCodBar = document.getElementById("edtCodBar");
        const edtNCM = document.getElementById("edtNCM");
        const edtCompra = document.getElementById("edtCompra");
        const edtMargem = document.getElementById("edtMargem");
        let edtCod = 0;

        alert(cmbTipo.value);

        queryDB("new_prod",[cmbEmp.value,edtDesc.value,edtEtq.value,edtEtqMin.value,edtUnid.value, edtNCM.value, edtCod, edtCodProd.value, edtCompra.value, edtMargem.value, edtCodBar.value])

    });

    function fillEmp(){

        const query = queryDB("pesq_emp",['tipo','FOR']);

        query.then(result =>{
        let arr = JSON.parse(result);

        arr.forEach((item)=>{
            let op = document.createElement('option');
            op.innerHTML = item[1].toUpperCase();
            op.value = item[0];
            cmbEmp.appendChild(op);        
        });

    });
    query.catch(error =>{
        alert(error);
    });        

    }




</script>