<div class="display" style="width: 300px;"> 
    
    <table>
        <tr><td style="width: 100%; text-align: center;"><h2>LOGIN</h2></td></tr>
        <tr>
            <td>
                <input type="text" id="edtUser" placeholder="Username" />
            </td>
        </tr>

        <tr>    
            <td>
                <input type="password" id="edtPass" placeholder="Password" />
            </td>
        </tr>

        <tr>
            <td>
                <button id="btnLogin">login</button>
            </td>
        </tr>


    </table>




</div>