    <div class="display title"><h1>Produtos</h1> </div>


    <div class="display">  
        <table>
            <tr>
                <td>
                    <select name="cmbBusca" id="cmbBusca">
                        <option value="desc">Descrição</option>
                        <option value="cod_int">Cod. Interno</option>
                        <option value="cod_prod">Cod. Produto</option>
                        <option value="cod_bar">Cod. Barras</option>
                        <option value="for">Fornecedor</option>
                        <option value="serv">Serviço</option>
                        <option value="conj">Conjuntos</option>
                        <option value="tinta">Tintas</option>
                        <option value="baixo">Estoque Baixo</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="edtBusca" placeholder="Busca">
                </td>
                <td>
                    <button id="btnPesq">PESQUISAR</button>
                </td>                
                <td>
                    <button id="btnNovo">NOVO</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="display main-content">    
        <table class="search-table"> </table>        

    </div>

