
    <div class="display"> 

        <h2 class="w3-center"> Cadastro de Empresas</h2>


        <form class="w3-container">

            <label >Nome *</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtNome"  />
            <label >Nome Fantasia</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtFant"  />
            <label >CNPJ</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtCNPJ"  />
            <label >Insc. Estadual</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtIE" />
            <label>Endereço.</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtEnd" />
            <label >Num.</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtNum" />
            <label >Cidade</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtCid" />
            <label >Estado</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtUF"  />
            <label >Bairro</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtBairro" />
            <label >CEP</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtCEP"/>
            <label >Telefone</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtFone" />
            <label>Tipo</label>
            <select class="w3-input w3-margin-bottom"  id="cmbTipo">
                <option value="FOR">Fornecedor</option>
                <option value="CLI" selected>Cliente</option>
            </select>

            <button class="w3-button w3-green w3-round-large w3-margin-bottom w3-right" id="btnSave">Salvar</button>


        </form> 


    </div>


<script>

    const arr = localStorage.getItem("params");
    
    let fields = [];
    let emp = '';
    let und = '';

    if(arr != null){
        fields = arr.split("&");
    }

//    console.log(fields.length);

    const btnSave = document.getElementById('btnSave');
    const edtNome = document.getElementById('edtNome');
    const edtFant = document.getElementById("edtFant");
    const edtCNPJ = document.getElementById("edtCNPJ");
    const edtIE = document.getElementById("edtIE");
    const edtEnd = document.getElementById("edtEnd");
    const edtNum = document.getElementById("edtNum");
    const edtCid = document.getElementById("edtCid");
    const edtUF = document.getElementById("edtUF");
    const edtBairro = document.getElementById("edtBairro");
    const edtCEP = document.getElementById("edtCEP");
    const edtFone = document.getElementById("edtFone");
    const cmbTipo = document.getElementById("cmbTipo");

    if(fields.length > 0){
        edtNome.value = fields[1];
        edtFant.value = fields[12];
        edtCNPJ.value = fields[2];
        edtIE.value = fields[3];
        edtEnd.value = fields[4];
        edtNum.value = fields[11];
        edtCid.value = fields[5];
        edtUF.value = fields[6];
        edtBairro.value = fields[10];
        edtCEP.value = fields[9];
        edtFone.value = fields[8];
        cmbTipo.value = fields[7];

    }

    btnSave.addEventListener('click',(event)=>{
        event.preventDefault;
        saveProd();
    });

    function saveProd(){

        let query;

        if(fields.length == 0){ // NOVO CADASTRO
            query = `INSERT INTO tb_empresa SET
                        id = 'DEFAULT',
                        nome = '${edtNome.value}',
                        cnpj = '${edtCNPJ.value}',
                        ie = '${edtIE.value}',
                        endereco = '${edtEnd.value}',
                        cidade = '${edtCid.value}',
                        estado = '${edtUF.value}',
                        bairro = '${edtBairro.value}',
                        num = '${edtNum.value}',
                        tipo = '${cmbTipo.value}',
                        tel = '${edtFone.value}',
                        cep = '${edtCEP.value}',
                        fantasia = '${edtFant.value}' ;`;
        }else{ // EDITAR PRODUTO
            query = `UPDATE tb_empresa SET
                        nome = '${edtNome.value}',
                        cnpj = '${edtCNPJ.value}',
                        ie = '${edtIE.value}',
                        endereco = '${edtEnd.value}',
                        cidade = '${edtCid.value}',
                        estado = '${edtUF.value}',
                        bairro = '${edtBairro.value}',
                        num = '${edtNum.value}',
                        tipo = '${cmbTipo.value}',
                        tel = '${edtFone.value}',
                        cep = '${edtCEP.value}',
                        fantasia = '${edtFant.value}'
                        WHERE id = ${fields[0].trim()};`;            
        }

//        alert(query)
//        console.log(query)

        const data = new URLSearchParams();
        data.append('query', query);                        
        queryDB(data);
        btnClose.click();
        if(fields.length > 0){
            btnPesq.click();
        }

       
}



</script>