
    <div class="display"> 

        <h2 class="w3-center"> Cadastro de Empresas</h2>


        <form class="w3-container">

            <label >Descrição *</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtDesc"  />
            <label >Fornecedor</label>
            <select class="w3-input w3-margin-bottom" id="cmbEmp"></select>
            <label >Unidade</label>
            <select class="w3-input w3-margin-bottom" id="cmbUnid"></select>
            <label >Estoque</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtEtq" value="0"/>
            <label>Tipo</label>
            <select class="w3-input w3-margin-bottom"  id="cmbTipo"   >
                <option value="VENDA">Produto</option>
                <option value="CONJ">Conjunto</option>
                <option value="SERVICO">Serviço</option>
                <option value="TINTA">Tinta</option>
            </select>
            <label>Estoque Min.</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtEtqMin" value="0"  />
            <label >Cód. do Produto</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtCodProd" class=""  />
            <label >Cód. de Barras</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtCodBar" class=""  />
            <label >NCM</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtNCM" onkeyup="return int_number(this)"  />
            <label >Preço de Compra R$</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtCompra" onkeyup="return float_number(this)" value="0"/>
            <label >Margem de Lucro %</label>
            <input class="w3-input w3-margin-bottom" type="text" id="edtMargem" onkeyup="return float_number(this,1)" value="0"/>
            <button class="w3-button w3-green w3-round-large w3-margin-bottom w3-right" id="btnSave">Salvar</button>


        </form> 


    </div>


<script>

    const arr = localStorage.getItem("params");
    
    let fields = [];
    let emp = '';
    let und = '';

    if(arr != null){
        fields = arr.split("&");
    }

//    console.log(fields.length);

    const btnSave = document.getElementById('btnSave');
    const cmbEmp = document.getElementById('cmbEmp');
    const cmbUnid = document.getElementById("cmbUnid");
    const edtDesc = document.getElementById("edtDesc");
    const edtEtq = document.getElementById("edtEtq");
    const edtEtqMin = document.getElementById("edtEtqMin");
    const cmbTipo = document.getElementById("cmbTipo");
    const edtCodProd = document.getElementById("edtCodProd");
    const edtCodBar = document.getElementById("edtCodBar");
    const edtNCM = document.getElementById("edtNCM");
    const edtCompra = document.getElementById("edtCompra");
    const edtMargem = document.getElementById("edtMargem");

    if(fields.length > 0){
        edtDesc.value = fields[2];
        edtEtq.value = fields[4];
        edtCodProd.value = fields[5];
        edtCodBar.value = fields[13];
        edtNCM.value = fields[9];
        edtCompra.value = fields[7];
        edtMargem.value = fields[8];

        float_number(edtCodBar);
        float_number(edtNCM);
        float_number(edtCompra);
        float_number(edtMargem);

        emp = fields[6].trim();
        und = fields[3].trim();

    }

    fillCmb(cmbEmp,emp,'tb_empresa','id','nome','');
    fillCmbTxt(cmbUnid,und,'../assets/unidades.txt');

    btnSave.addEventListener('click',(event)=>{
        event.preventDefault;
        saveProd();
    });

    function saveProd(){

        let query;

        if(fields.length == 0){ // NOVO CADASTRO
            query = `INSERT INTO tb_produto SET
                        cod = (SELECT MAX(p.cod)+1 FROM tb_produto as p WHERE p.cod < 7000),
                        id_emp = ${cmbEmp.value},
                        descricao = '${edtDesc.value}',
                        estoque = ${edtEtq.value},
                        etq_min = ${edtEtqMin.value},
                        unidade = '${cmbUnid.value}',
                        ncm = '${edtNCM.value}',
                        cod_bar = '${edtCodProd.value}',
                        preco_comp = ${edtCompra.value},
                        margem = ${edtMargem.value},
                        tipo = '${cmbTipo.value}',
                        cod_cli = '${edtCodBar.value}' ;`;
        }else{ // EDITAR PRODUTO
            query = `UPDATE tb_produto SET
                        id_emp = ${cmbEmp.value},
                        descricao = '${edtDesc.value}',
                        estoque = ${edtEtq.value},
                        etq_min = ${edtEtqMin.value},
                        unidade = '${cmbUnid.value}',
                        ncm = '${edtNCM.value}',
                        cod_bar = '${edtCodProd.value}',
                        preco_comp = ${edtCompra.value},
                        margem = ${edtMargem.value},
                        tipo = '${cmbTipo.value}',
                        cod_cli = '${edtCodBar.value}' 
                        WHERE cod = ${fields[1].trim()};`;            
        }

//        console.log(query)

        const data = new URLSearchParams();
        data.append('query', query);                        
        queryDB(data);
        btnClose.click();
        if(fields.length > 0){
            btnPesq.click();

        }

       
}



</script>