
    <div class="display w3-container ">
        <h2 class="w3-center"> Produtos</h2>
    </div>      

    <div class="display">
    <form class="w3-container">
        <p style="display: flex">
       
            <select class="w3-input" name="cmbBusca" id="cmbBusca">
                <option value= "p.descricao" >Descrição</option>
                <option value="p.cod">Cod. Interno</option>
                <option value="p.cod_bar">Cod. Produto</option>
                <option value="p.cod_cli">Cod. Barras</option>
                <option value="e.nome">Fornecedor</option>
                <option value="serv">Serviço</option>
                <option value="conj">Conjuntos</option>
                <option value="tinta">Tintas</option>
                <option value="baixo">Estoque Baixo</option>
            </select>
            <input id="edtBusca" class="w3-input" type="text" placeholder="Busca">
        </p>
        <p>
            <button class="w3-button w3-xlarge w3-circle w3-green w3-right" id="btnNovo">+</button>
            <button class="w3-button w3-xlarge w3-circle w3-green w3-right" id="btnPesq"><i class="fa fa-search"></i></button>
        </p>
    </form>
    </div>


    <div class="display main-content">  
        <table id="query-table" class="w3-table-all w3-hoverable"> </table>        
    </div>

<script>

    const btnNovo = document.getElementById("btnNovo");
    const btnPesq = document.getElementById("btnPesq");
    const edtBusca = document.getElementById('edtBusca');
    const cmbBusca = document.getElementById('cmbBusca');
    const table = document.getElementById('query-table');

    btnNovo.addEventListener("click", function(event){
        event.preventDefault();
        modal_title.innerHTML = " Novo Título";
        modal_text.innerHTML = " Algum texto por aqui";
        openHTML('cad_prod.html','modal','Cadastro de Novo Produto');     
        modal.style.display = "block";        
    });

    btnPesq.addEventListener("click", function(event){
        event.preventDefault();
        table.innerHTML = "";

        const query = `SELECT p.id, p.cod, p.descricao, p.unidade, p.estoque, p.cod_bar, e.nome, p.preco_comp, p.margem, p.ncm, p.tipo 
                        FROM tb_produto AS p 
                        INNER JOIN tb_empresa AS e 
                        ON  ${cmbBusca.value} LIKE '%${edtBusca.value}%'
                        AND p.id_emp = e.id 
                        ORDER BY cast(p.cod as unsigned integer)`;

        const data = new URLSearchParams();        
        data.append("query", query);

//        console.log(query)

        const resp = queryDB(data);
        resp.then((response)=>{
            const hide = [0,5,8,9,10];
            const money = [7];
            const dt = [];

            let arr = JSON.parse(response);           
            arr.forEach((item,i)=>{
                if(i==0){
                    const tr = document.createElement('tr');
                    tr.innerHTML="<th>Cod.</th><th>Descrição</th><th>Und.</th><th>Qtd.</th><th>Fornecedor</th><th>Preço</th>"
                    table.appendChild(tr);
                }
                const tr = document.createElement('tr');
                let index = 0;
                for (var prop in item) {
                    const td = document.createElement('td');
                    td.innerHTML = item[prop].toUpperCase();
                    if(hide.includes(index)){
                        td.style="display:none;"
                    }
                    if(money.includes(index)){
                        td.innerHTML='R$'+parseFloat(item[prop]).toFixed(2);                        
                    }
                    
                    tr.appendChild(td);
                    index++;
                }     
                tr.addEventListener('click',()=>{
                    tableClick(tr);
                })
                table.appendChild(tr);

            });  
        })

    });


    function tableClick(tr){

        console.log(tr.cells)
    
        let params = `${tr.cells[0].innerHTML}&${tr.cells[1].innerHTML}&${tr.cells[2].innerHTML}&${tr.cells[3].innerHTML}&${tr.cells[4].innerHTML}&${tr.cells[5].innerHTML}&${tr.cells[6].innerHTML}&${tr.cells[7].innerHTML}&${tr.cells[8].innerHTML}&${tr.cells[9].innerHTML}&${tr.cells[10].innerHTML}`;
        
        localStorage.setItem("params",params);


//        console.log(params)
/*
        for (let i=0; i<tr.cells.length; i++) {

            console.log(tr.cells[i].innerHTML)

        }
*/

        openHTML('show_prod.html','modal','Detalhes do Produto'); 

    }



</script>
