<div class="display">
    <table id="tbShow" class="w3-table-all ">
        <tr><td>Cod</td><td id="tdCod"></td></tr>
        <tr><td>Descrição</td><td id="tdDesc"></td></tr>
        <tr><td>Unidade</td><td id="tdUnd"></td></tr>
        <tr><td>Estoque</td><td id="tdEtq"></td></tr>
        <tr><td>Cod. do Prod</td><td id="tdCodProd"></td></tr>
        <tr><td>NCM</td><td id="tdNCM"></td></tr>
        <tr><td>Tipo</td><td id="tdTipo"></td></tr>
        <tr><td>Fornecedor</td><td id="tdForn"></td></tr>
        <tr><td>Compra</td><td id="tdCompra"></td></tr>
        <tr><td>Margem</td><td id="tdMargem"></td></tr>
        <tr style="font-weight: bolder; font-size: larger;"><td id="lblPreco">Preço</td><td id="tdPreco"></td></tr>
    </table>
</div>

<div class="display"  >

        <button id="btnEditar" class="w3-button w3-green w3-right">Editar</button>
        <button id="btnDel" class="w3-button w3-green w3-right">Deletar</button>    

</div>

<script>

    const arr = localStorage.getItem("params").split("&");

//    console.log(arr);

    const btnEditar = document.getElementById("btnEditar");
    const btnDel = document.getElementById("btnDel");
    const table = document.getElementById('tbShow');

    if(arr[1] >= 7000){
        const preço = arr[arr.length-1].substr(2);

        document.getElementById('lblPreco').innerHTML = "900ml";

        const dois = document.createElement('tr');
        dois.innerHTML = `<td>1.8L</td><td>R$${(preço*2).toFixed(2)}</td>`;
        dois.style = "font-weight: bolder; font-size: larger;"
        table.appendChild(dois);
        const tres = document.createElement('tr');
        tres.style = "font-weight: bolder; font-size: larger;"
        tres.innerHTML = `<td>2.7L</td><td>R$${(preço*3).toFixed(2)}</td>`;
        table.appendChild(tres);
        const quatro = document.createElement('tr');
        quatro.style = "font-weight: bolder; font-size: larger;"
        quatro.innerHTML = `<td>3.6L</td><td>R$${(preço*4).toFixed(2)}</td>`;
        table.appendChild(quatro);

//        console.log(preço)
    }


    btnEditar.addEventListener("click",()=>{
        openHTML("cad_prod.html","modal","Edição de Produto"); 
    });
    btnDel.addEventListener("click",()=>{
        if(window.confirm("Deletar este Registrio?")){
            const data = new URLSearchParams();
            data.append('query', `DELETE FROM tb_produto WHERE cod = ${arr[1].trim()}`);
            queryDB(data);
            btnClose.click();
            btnPesq.click();
        }
    });

    if(arr.length > 0){
        document.getElementById('tdCod').innerHTML = arr[1].toUpperCase();
        document.getElementById('tdDesc').innerHTML = arr[2].toUpperCase();
        document.getElementById('tdForn').innerHTML = arr[6].toUpperCase();
        document.getElementById('tdUnd').innerHTML = arr[3].toUpperCase();
        document.getElementById('tdEtq').innerHTML = arr[4].toUpperCase();
        document.getElementById('tdCodProd').innerHTML = arr[5].toUpperCase();
        document.getElementById('tdNCM').innerHTML = arr[9].toUpperCase();
        document.getElementById('tdCompra').innerHTML = arr[7].toUpperCase();
        document.getElementById('tdMargem').innerHTML = arr[8].toUpperCase();
        document.getElementById('tdTipo').innerHTML = arr[10].toUpperCase();
        document.getElementById('tdPreco').innerHTML = arr[arr.length-1].toUpperCase();
    }

/*
    const query = queryDB("pesq_prod",['p.id='+id+' AND p.id',id]);
    query.then(result =>{
         
        let arr = JSON.parse(result);
            document.getElementById('tdCod').innerHTML = arr[0][1].toUpperCase();
            document.getElementById('tdDesc').innerHTML = arr[0][2].toUpperCase();
            document.getElementById('tdUnd').innerHTML = arr[0][3].toUpperCase();
            document.getElementById('tdEtq').innerHTML = arr[0][4].toUpperCase();
            document.getElementById('tdCodProd').innerHTML = arr[0][5].toUpperCase();
            document.getElementById('tdForn').innerHTML = arr[0][6].toUpperCase();
            document.getElementById('tdPreco').innerHTML = arr[0][7].toUpperCase();
            document.getElementById('tdNCM').innerHTML = arr[0][8].toUpperCase();

        });
        query.catch(error =>{
            alert(error);
        });
*/
</script>